In [2]:
print ('Hello there!')

Hello there!

In [3]:
print('I would like to learn Python')

I would like to learn Python

In [4]:
print('Would you guide me?')

Would you guide me?

In [5]:
import sys
print (sys.version)

3.6.10 | packaged by conda-forge | (default, Apr 24 2020, 16:44:11)
[GCC 7.3.0]

In [6]:
type(12.0)

float

In [7]:
type('Suraj')

str

In [8]:
type(-45)

int

In [9]:
type(2)

int

In [10]:
float(2)

2.0

In [11]:
type(float(2))

float

In [12]:
int('1')

1

In [14]:
str(12)

'12'

In [15]:
type(True)

bool

In [16]:
type(False)

bool

In [18]:
int(True)

1

In [19]:
6/2

3.0

In [20]:
6//3

2

In [21]:
x= 24+45+65+43

In [22]:
x

177

In [23]:
y=x/3

In [24]:
y

59.0

In [25]:
z= x//3

In [26]:
z

59

In [27]:
m= z+y

In [28]:
m

118.0

In [29]:
int(m)

118

In [30]:
tup1 =('good',1, 2.0)

In [31]:
type(tup1)

tuple

In [32]:
tup1[0]

'good'

In [33]:
tup1[-3]

'good'

In [34]:
tup1[0:3]

('good', 1, 2.0)

In [35]:
tup2=('good,ram','hari,2.0,3',15)

In [36]:
type(tup2)

tuple

In [37]:
tup2[0:2]

('good,ram', 'hari,2.0,3')

In [38]:
tup2[0][1]

'o'

In [41]:
tup3= tup2 +('gamer','boy')

In [42]:
tup3

('good,ram', 'hari,2.0,3', 15, 'gamer', 'boy')

In [43]:
tup3[3:5]

('gamer', 'boy')

In [44]:
len(tup3)

5

In [45]:
Ratings= (3,5,6,7,4,2,7,8,4,5,6,8,9)

In [46]:
ratingssorted= sorted(Ratings)

In [47]:
ratingssorted

[2, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9]

In [50]:
nestedtup =(1,2,('Gopal','Hari'),3,('Football',(1,3)))

In [52]:
type(nestedtup)

tuple

In [53]:
nestedtup[0]

1

In [54]:
nestedtup[2][0]

'Gopal'

In [55]:
nestedtup[2:4]

(('Gopal', 'Hari'), 3)

In [56]:
nestedtup[4][1][1]

3

In [57]:
print('Element 1 of Tuple: ',nestedtup[4])

Element 1 of Tuple:  ('Football', (1, 3))

In [62]:
c_tup= (-5,2,4)
c_list= sorted(c_tup)
c_list

[-5, 2, 4]

In [63]:
L=['suraj Bharati', 1, 2.0, 23, 2025]

In [64]:
L

['suraj Bharati', 1, 2.0, 23, 2025]

In [65]:
L[0:3]

['suraj Bharati', 1, 2.0]

In [67]:
L.extend(['read','write'])

In [68]:
L

['suraj Bharati', 1, 2.0, 23, 2025, 'read', 'write']

In [70]:
L.append(['a','b'])

In [71]:
L

['suraj Bharati', 1, 2.0, 23, 2025, 'read', 'write', ['a', 'b']]

In [73]:
A= ['disco', 1,3,4]
print('Before change:',A)
A[0]='music rocks'
print('After change:', A)

Before change: ['disco', 1, 3, 4]
After change: ['music rocks', 1, 3, 4]

In [74]:
'music rocks'.split()

['music', 'rocks']

In [76]:
A= ['music rocks', 1, 3,4]
B=A
print('A:',A)
print('B:',B)

A: ['music rocks', 1, 3, 4]
B: ['music rocks', 1, 3, 4]

In [77]:
B=A[:]

In [78]:
B

['music rocks', 1, 3, 4]

In [79]:
A[0]='Apple'

In [80]:
A

['Apple', 1, 3, 4]

In [81]:
B

['music rocks', 1, 3, 4]

In [82]:
H=[1,'hello',[1,2,3],'True']

In [83]:
H[1]

'hello'

In [84]:
H[1:4]

['hello', [1, 2, 3], 'True']

In [85]:
A= [1,'a']

In [87]:
C=A.extend([2,1,'d'])

In [88]:
A

[1, 'a', 2, 1, 'd']

In [89]:
B=[2,1,'d']

In [90]:
A+B

[1, 'a', 2, 1, 'd', 2, 1, 'd']

**Creating a dictionary**

In [1]:
Movies_dict={'Thriller':'1981','Bad Basket':'1983','Rumors':'1973','Transformers':'2012', 'Avatar':'2009', 'X-Men':'2013','Saving Private Ryan':'2010','Batman':'2008'}

In [2]:
Movies_dict

{'Thriller': '1981',
 'Bad Basket': '1983',
 'Rumors': '1973',
 'Transformers': '2012',
 'Avatar': '2009',
 'X-Men': '2013',
 'Saving Private Ryan': '2010',
 'Batman': '2008'}

In [3]:
Movies_dict.keys()

dict_keys(['Thriller', 'Bad Basket', 'Rumors', 'Transformers', 'Avatar', 'X-Men', 'Saving Private Ryan', 'Batman'])

In [4]:
Movies_dict.values()

dict_values(['1981', '1983', '1973', '2012', '2009', '2013', '2010', '2008'])

In [5]:
Movies_dict['Transformers']

'2012'

In [6]:
Movies_dict['Graduation']='2006'

In [7]:
Movies_dict

{'Thriller': '1981',
 'Bad Basket': '1983',
 'Rumors': '1973',
 'Transformers': '2012',
 'Avatar': '2009',
 'X-Men': '2013',
 'Saving Private Ryan': '2010',
 'Batman': '2008',
 'Graduation': '2006'}

In [9]:
del(Movies_dict['Batman'])

In [10]:
Movies_dict

{'Thriller': '1981',
 'Bad Basket': '1983',
 'Rumors': '1973',
 'Transformers': '2012',
 'Avatar': '2009',
 'X-Men': '2013',
 'Saving Private Ryan': '2010',
 'Graduation': '2006'}

**Sets in Python**

In [1]:
#create a set
Set_1={'Panda hari','12','33','33','Gopal', 'likes','Chocolate'}

In [3]:
Set_1

{'12', '33', 'Chocolate', 'Gopal', 'Panda hari', 'likes'}

In [4]:
#Converting a list to set
List=['ram','ari','12','AC/DC','12-Nov-2019']
set2=set(List)
set2

{'12', '12-Nov-2019', 'AC/DC', 'ari', 'ram'}

**Set operations**

In [6]:
#adding an element to a set
A={'12', 'Ram','dad'}
A.add('24')
A

{'12', '24', 'Ram', 'dad'}

In [7]:
#removing an item from a set
A.remove('Ram')
A

{'12', '24', 'dad'}

In [8]:
#to verify if an item is present in a set
'dad'in A

True

In [9]:
'boy'in A

False

In [11]:
#intersection of two sets
Set_1 & A

{'12'}

In [12]:
#union of two sets
Set_1.union(A)

{'12', '24', '33', 'Chocolate', 'Gopal', 'Panda hari', 'dad', 'likes'}

In [13]:
B={'12','24', 'Gopal'}
C={'12','24'}
C.issubset(B)

True

In [16]:
A=[1,2,2,1]
B=set([1,2,2,1])

In [17]:
print('the sum of A:',sum(A))
print('the sum of B:',sum(B))

the sum of A: 6
the sum of B: 3